# ignore log file
rhsm-integrate.log

# ignore pyc file
*.pyc

# ignore gedit file
*~
# ignore sphinx build
_build
_source

# ignore virtual env
venv*
vv*

# ignore eclipse workspace
.project
.pydevproject
.settings
